
@if (Model.Count > 0)
{
    <p>Znaleziono @Model.Count wideo</p>

    <section id="search-results" class="videos-grid">
        @foreach (var video in Model)
        {
            <div class="video-item">
                <a asp-controller="Videos" asp-action="Watch" asp-route-id="@video.Id">
                    <div class="video-thumbnail">
                        <img src="/videos/thumbnail/@video.Id" />
                    </div>
                    <div class="video-info">
                        <div class="video-title">
                            <strong>@video.Title</strong>
                        </div>
                    </div>
                </a>
            </div>
        }
    </section>
}
else
{
    <p>Brak wyników wyszukiwania</p>
}

