@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na Twoją skrzynkę pocztową wyslałiśmy link do zresetowania hasła.
</p>

