@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji konta";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę pocztową, aby potwierdzić rejestrację konta.
</p>
