@{
    ViewData["Title"] = "Strona główna";
}
<section class="welcome bg-primary">
    Witaj na Gombce - jedynym niezależnym portalu wymiany treści wideo.<br>
    Zarejestruj się by przesłać filmik i udostępnić go światu!
</section>
<section id="index-results" class="videos-grid pt-3">
    @if (Model.Count > 0)
    {
        @foreach (var video in Model)
        {
            <div class="video-item">
                <div class="video-thumbnail">
                    <a asp-controller="Videos" asp-action="Watch" asp-route-id="@video.Id">
                        <img src="/videos/thumbnail/@video.Id" />
                    </a>
                </div>
                <div class="video-info">
                    <div class="title-wrapper">
                        <a asp-controller="Videos" asp-action="Watch" asp-route-id="@video.Id">
                            <div class="video-title">
                                <strong>@video.Title</strong>
                            </div>
                        </a>
                    </div>
                    <div class="video-additional-info">
                        <small>
                            <a href="/channel/@video.User.Id">
                                @video.User.UserName
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>W tym momencie nie mamy żadnych plików wideo :(</p>
    }
</section>