<details>
    <summary>Jak dodać film?</summary>
    <p>Aby dodać film należy się zalogować. Następnie w górnym menu należy wybrać opcję “Dodaj film”.</p>
    <img src="~/img/help/dodaj-film.png"/>
</details>

<details>
    <summary>
        How to beat the boss...spoiler alert !
    </summary>
    <p> Just aim to the red spots near his eyes</p>
    <p>Keep shooting at these spots until the eyes open, then hit quickly both eyes with your laser beam.</p>
</details>

<details>
    <summary>
        How to beat the boss...spoiler alert !
    </summary>
    <p> Just aim to the red spots near his eyes</p>
    <p>Keep shooting at these spots until the eyes open, then hit quickly both eyes with your laser beam.</p>
</details>

<details>
    <summary>
        How to beat the boss...spoiler alert !
    </summary>
    <p> Just aim to the red spots near his eyes</p>
    <p>Keep shooting at these spots until the eyes open, then hit quickly both eyes with your laser beam.</p>
</details>