<details>
    <summary>
        Jak założyć konto w serwisie?
    </summary>
    <p>Aby to zrobić, należy wybrać z górnego menu pozycję “Rejestracja”.</p>
    <img src="~/img/help/rejestracja.png" />
    <p>
        W wyświetlonym formularzu należy podać swój aktywny adres e-mail oraz wybrać hasło, a następnie powtórzyć je w polu poniżej. Po kliknięciu przycisku “Zarejestruj się” otrzymasz maila z linkiem, który należy kliknąć aby dokończyć rejestrację i aktywować swoje konto.
    </p>
</details>

<details>
    <summary>
        Jak się zalogować?
    </summary>
    <p>Aby się zalogować, najpierw musisz założyć konto w serwisie. Następnie należy w górnym menu wybrać pozycję “Logowanie”.</p>
    <img src="~/img/help/logowanie.png" />
    <p>
        W wyświetlonym formularzu należy wpisać adres e-mail oraz hasło podane przy rejestracji i nacisnąć przycisk “Zaloguj”.
    </p>
</details>

<details>
    <summary>
        Co zrobić, jeśli zapomniałem hasła do swojego konta?
    </summary>
    <p>Najpierw należy przejść do formularza logowania (zobacz “Jak się zalogować?”). Następnie należy wybrać opcję poniżej formularza logowania “Zapomniałeś hasła?”.</p>
    <img src="~/img/help/zapomniales-hasla.png" />
    <p>W wyświetlonym polu należy wpisać adres e-mail na który założone zostało konto i nacisnąć przycisk “Wyślij”. Po tym, sprawdź swoją pocztę - wysłane zostaną tam dalsze wskazówki pozwalające na reset swojego hasła.</p>
</details>

<details>
    <summary>Jak dodać film?</summary>
    <p>Aby dodać film należy się zalogować. Następnie w górnym menu należy wybrać opcję “Dodaj film”.</p>
    <img src="~/img/help/dodaj-film.png" />
    <p>
        W wyświetlonym formularzu należy wpisać tytuł filmu oraz jego krótki opis (pomoże to odnaleźć film innym użytkownikom za pomocą wyszukiwarki), wybrać odpowiednią kategorię oraz wskazać plik z filmem. Po naciśnięciu przycisku “Dodaj film” nastąpi przesłanie filmu i jego publikacja w serwisie.
    </p>
</details>

<details>
    <summary>
        Jak wyszukać film?
    </summary>
    <p>Możesz przeszukać bazę filmów, wpisując szukaną frazę do pola wyszukiwania znajdującego się w górnym menu. Pasujące wyniki zostaną wyświetlone w postaci listy miniaturek wraz z tytułem.</p>
    <img src="~/img/help/wyszukiwarka.png" />
</details>

<details>
    <summary>
        Gdzie znajdę swoje przesłane filmy?
    </summary>
    <p>
        Po zalogowaniu do serwisu, wybierz pozycję “Mój kanał” w górnym menu.
    </p>
    <img src="~/img/help/moj-kanal.png" />
    <p>
        Zostaniesz przeniesiony do listy przesłanych przez Ciebie filmów.
    </p>
</details>

<details>
    <summary>
        Jak zmienić swoje hasło, adres e-mail lub usunąć swoje konto?
    </summary>
    <img src="~/img/help/nazwa-profilu.png" />
    <p>
        Po zalogowaniu do serwisu, kliknij w swój adres e-mail w górnym menu.
    </p>
    <p>
        W wyświetlonej nawigacji wybierz:
        <ul>
            <li>
                E-mail - aby zmienić adres e-mail,
            </li>
            <li>
                Hasło - aby zmienić hasło,
            </li>
            <li>
                Konto - aby usunąć swoje konto wraz z przesłanymi filmami.
            </li>
        </ul>
    </p>
</details>